# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "pull_request" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    # what the f**k, the issue with the SDK version???
    # this trap me for an hour...
    - name: Set up Android SDK
      run: echo "${ANDROID_HOME}/build-tools/34.0.0" >> $GITHUB_PATH

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Clean
      run: ./gradlew clean
    
    - name: Build with Gradle
      run: ./gradlew deploy

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: ExtraUtilities
        path: build/libs/ExtraUtilities.jar
